In [1]:
import pandas as pd
import numpy as np

Make one big dataframe with all noise data

In [2]:
#Read all data (all months and all locations)
#January
ID255439_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Jan_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jan/csv_results_42_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#February
ID255439_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Feb_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Feb/csv_results_42_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#March
ID255439_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Mar_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/March/csv_results_44_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#April
ID255439_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Apr_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/April/csv_results_45_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#May
ID255439_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_May_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/May/csv_results_46_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#June
ID255439_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Jun_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/June/csv_results_47_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#July
ID255439_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Jul_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Jul/csv_results_48_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#August
ID255439_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Aug_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Aug/csv_results_49_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#September
ID255439_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Sep_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Sep/csv_results_50_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#October
ID255439_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Oct_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Oct/csv_results_51_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#November
ID255439_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Nov_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Nov/csv_results_52_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
#December
ID255439_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_255439_mp-01-naamsestraat-35-maxim.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255440_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_255440_mp-02-naamsestraat-57-xior.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255441_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_255441_mp-03-naamsestraat-62-taste.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255442_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_255442_mp-05-calvariekapel-ku-leuven.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255443_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_255443_mp-06-parkstraat-2-la-filosovia.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255444_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_255444_mp-07-naamsestraat-81.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID255445_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_255445_mp-08-kiosk-stadspark.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID280324_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_280324_mp08bis---vrijthof.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])
ID303910_Dec_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/NoiseData/Dec/csv_results_53_303910_mp-04-his-hears.csv', sep=';', usecols=['#object_id','result_timestamp','laeq'])

In [3]:
#Make one big dataframe
noise_df = pd.concat([
    ID255439_Jan_df,ID255440_Jan_df,ID255441_Jan_df,ID255442_Jan_df,ID255443_Jan_df,ID255444_Jan_df,ID255445_Jan_df,ID280324_Jan_df,ID303910_Jan_df,
    ID255439_Feb_df,ID255440_Feb_df,ID255441_Feb_df,ID255442_Feb_df,ID255443_Feb_df,ID255444_Feb_df,ID255445_Feb_df,ID280324_Feb_df,ID303910_Feb_df,
    ID255439_Mar_df,ID255440_Mar_df,ID255441_Mar_df,ID255442_Mar_df,ID255443_Mar_df,ID255444_Mar_df,ID255445_Mar_df,ID280324_Mar_df,ID303910_Mar_df,
    ID255439_Apr_df,ID255440_Apr_df,ID255441_Apr_df,ID255442_Apr_df,ID255443_Apr_df,ID255444_Apr_df,ID255445_Apr_df,ID280324_Apr_df,ID303910_Apr_df,
    ID255439_May_df,ID255440_May_df,ID255441_May_df,ID255442_May_df,ID255443_May_df,ID255444_May_df,ID255445_May_df,ID280324_May_df,ID303910_May_df,
    ID255439_Jun_df,ID255440_Jun_df,ID255441_Jun_df,ID255442_Jun_df,ID255443_Jun_df,ID255444_Jun_df,ID255445_Jun_df,ID280324_Jun_df,ID303910_Jun_df,
    ID255439_Jul_df,ID255440_Jul_df,ID255441_Jul_df,ID255442_Jul_df,ID255443_Jul_df,ID255444_Jul_df,ID255445_Jul_df,ID280324_Jul_df,ID303910_Jul_df,
    ID255439_Aug_df,ID255440_Aug_df,ID255441_Aug_df,ID255442_Aug_df,ID255443_Aug_df,ID255444_Aug_df,ID255445_Aug_df,ID280324_Aug_df,ID303910_Aug_df,
    ID255439_Sep_df,ID255440_Sep_df,ID255441_Sep_df,ID255442_Sep_df,ID255443_Sep_df,ID255444_Sep_df,ID255445_Sep_df,ID280324_Sep_df,ID303910_Sep_df,
    ID255439_Oct_df,ID255440_Oct_df,ID255441_Oct_df,ID255442_Oct_df,ID255443_Oct_df,ID255444_Oct_df,ID255445_Oct_df,ID280324_Oct_df,ID303910_Oct_df,
    ID255439_Nov_df,ID255440_Nov_df,ID255441_Nov_df,ID255442_Nov_df,ID255443_Nov_df,ID255444_Nov_df,ID255445_Nov_df,ID280324_Nov_df,ID303910_Nov_df,
    ID255439_Dec_df,ID255440_Dec_df,ID255441_Dec_df,ID255442_Dec_df,ID255443_Dec_df,ID255444_Dec_df,ID255445_Dec_df,ID280324_Dec_df,ID303910_Dec_df])

In [4]:
noise_df.head()

  #object_id         result_timestamp  laeq
0     255441  01/01/2022 00:00:00.349  82.7
1     255441  01/01/2022 00:00:01.349  83.1
2     255441  01/01/2022 00:00:02.349  82.7
3     255441  01/01/2022 00:00:03.349  79.3
4     255441  01/01/2022 00:00:04.349  76.0

Cluster the data per 10 minutes

In [5]:
#First convert result_timestamp to datetime object
noise_df['result_timestamp'] = pd.to_datetime(noise_df['result_timestamp'],format="%d/%m/%Y %H:%M:%S.%f")

#Rename 'object_id' column
noise_df.rename(columns={'#object_id':'object_id'},inplace=True)

#Cluster data per 10 minutes
noise_clustered_df = noise_df.groupby(['object_id',pd.Grouper(key='result_timestamp',freq='10T')]).mean().reset_index()

noise_clustered_df

        object_id    result_timestamp       laeq
0          255439 2022-02-28 08:20:00  59.892893
1          255439 2022-02-28 08:30:00  54.629000
2          255439 2022-02-28 08:40:00  57.756369
3          255439 2022-02-28 13:40:00  51.875385
4          255439 2022-02-28 13:50:00  56.752667
...           ...                 ...        ...
332450     303910 2022-12-31 23:10:00  56.037000
332451     303910 2022-12-31 23:20:00  58.889667
332452     303910 2022-12-31 23:30:00  58.804333
332453     303910 2022-12-31 23:40:00  63.586833
332454     303910 2022-12-31 23:50:00  59.669282

[332455 rows x 3 columns]

Add extra variables to the dataset

In [6]:
#Create new variables with the date and time
noise_clustered_df['date'] = noise_clustered_df['result_timestamp'].dt.date
noise_clustered_df['time'] = noise_clustered_df['result_timestamp'].dt.time

#Add the hour
noise_clustered_df['hour'] = noise_clustered_df['result_timestamp'].dt.hour

#Add the day of the week
noise_clustered_df['weekday'] = noise_clustered_df['result_timestamp'].dt.day_name()

#Add the month
noise_clustered_df['month'] = noise_clustered_df['result_timestamp'].dt.month

#Add whether it's the weekend or not
noise_clustered_df['weekend'] = noise_clustered_df['weekday'].isin(['Saturday','Sunday'])

#Add the day of the week + the time
noise_clustered_df['day_time'] = noise_clustered_df['weekday'].astype(str) + " " + noise_clustered_df['time'].astype(str)

#Add the day of the week + the hour
noise_clustered_df['day_hour'] = noise_clustered_df['weekday'].astype(str) + " " + noise_clustered_df['hour'].astype(str)

#Add whether it's a holiday
#Official KU Leuven holidays: 2022-01-01 - 2022-01-13; 2022-02-02; 2022-02-06 - 2022-02-13; 2022-04-02 - 2022-04-18;
#2022-05-01; 2022-05-26; 2022-05-28 - 2022-06-12; 2022-07-03 - 2022-09-25; 2022-11-01 - 2022-11-02;
#2022-11-11; 2022-12-24 - 2022-12-31
holidays = pd.concat([pd.DataFrame(pd.date_range(start='2022-01-01',end='2022-01-13')),
                      pd.DataFrame(pd.date_range(start='2022-02-02',end='2022-02-02')),
                      pd.DataFrame(pd.date_range(start='2022-02-06',end='2022-02-13')),
                      pd.DataFrame(pd.date_range(start='2022-04-02',end='2022-04-18')),
                      pd.DataFrame(pd.date_range(start='2022-05-01',end='2022-05-01')),
                      pd.DataFrame(pd.date_range(start='2022-05-26',end='2022-05-26')),
                      pd.DataFrame(pd.date_range(start='2022-05-28',end='2022-06-12')),
                      pd.DataFrame(pd.date_range(start='2022-07-03',end='2022-09-25')),
                      pd.DataFrame(pd.date_range(start='2022-11-01',end='2022-11-02')),
                      pd.DataFrame(pd.date_range(start='2022-11-11',end='2022-11-11')),
                      pd.DataFrame(pd.date_range(start='2022-12-24',end='2022-12-31'))])
holidays.columns = ['dates']
noise_clustered_df['holiday'] = noise_clustered_df['date'].astype(str).isin(holidays['dates'].astype(str))

#Add whether it's an exam period
#Official KU Leuven exam periods: 2022-01-14 - 2022-02-05; 2022-06-13 - 2022-07-02; 2022-08-22 - 2022-09-10
exam_periods = pd.concat([pd.DataFrame(pd.date_range(start='2022-01-14',end='2022-02-05')),
                         pd.DataFrame(pd.date_range(start='2022-06-13',end='2022-07-02')),
                         pd.DataFrame(pd.date_range(start='2022-08-22',end='2022-09-10'))])
exam_periods.columns = ['dates']
noise_clustered_df['exam_period'] = noise_clustered_df['date'].astype(str).isin(exam_periods['dates'].astype(str))

noise_clustered_df

,object_id,result_timestamp,laeq,date,time,hour,weekday,month,weekend,day_time,day_hour,holiday,exam_period
0,255439,2022-02-28 08:20:00,59.892893,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,Monday 8,False,False
1,255439,2022-02-28 08:30:00,54.629000,2022-02-28,08:30:00,8,Monday,2,False,Monday 08:30:00,Monday 8,False,False
2,255439,2022-02-28 08:40:00,57.756369,2022-02-28,08:40:00,8,Monday,2,False,Monday 08:40:00,Monday 8,False,False
3,255439,2022-02-28 13:40:00,51.875385,2022-02-28,13:40:00,13,Monday,2,False,Monday 13:40:00,Monday 13,False,False
4,255439,2022-02-28 13:50:00,56.752667,2022-02-28,13:50:00,13,Monday,2,False,Monday 13:50:00,Monday 13,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
332450,303910,2022-12-31 23:10:00,56.037000,2022-12-31,23:10:00,23,Saturday,12,True,Saturday 23:10:00,Saturday 23,True,False
332451,303910,2022-12-31 23:20:00,58.889667,2022-12-31,23:20:00,23,Saturday,12,True,Saturday 23:20:00,Saturday 23,True,False
332452,303910,2022-12-31 23:30:00,58.804333,2022-12-31,23:30:00,23,Saturday,12,True,Saturday 23:30:00,Saturday 23,True,False
332453,303910,2022-12-31 23:40:00,63.586833,2022-12-31,23:40:00,23,Saturday,12,True,Saturday 23:40:00,Saturday 23,True,False
332454,303910,2022-12-31 23:50:00,59.669282,2022-12-31,23:50:00,23,Saturday,12,True,Saturday 23:50:00,Saturday 23,True,False

Add weather data

In [7]:
#Load weather data
weather_df1 = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/WeatherData/LC_2022Q1.csv', sep=',')
weather_df2 = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/WeatherData/LC_2022Q2.csv', sep=',')
weather_df3 = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/WeatherData/LC_2022Q3.csv', sep=',')
weather_df4 = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/WeatherData/LC_2022Q4.csv', sep=',')

#Select only the data from the location LC-105
weather_df1 = weather_df1[weather_df1['ID'] == 'LC-105']
weather_df2 = weather_df2[weather_df2['ID'] == 'LC-105']
weather_df3 = weather_df3[weather_df3['ID'] == 'LC-105']
weather_df4 = weather_df4[weather_df4['ID'] == 'LC-105']

weather_df = pd.concat([weather_df1,weather_df2,weather_df3,weather_df4])
weather_df = weather_df[['DATEUTC','LC_HUMIDITY','LC_DWPTEMP','LC_n','LC_RAD','LC_RAININ','LC_DAILYRAIN','LC_WINDDIR','LC_WINDSPEED','LC_RAD60','LC_TEMP_QCL0','LC_TEMP_QCL1','LC_TEMP_QCL2','LC_TEMP_QCL3']]

weather_df.rename(columns={'DATEUTC':'result_timestamp'},inplace=True)
weather_df['result_timestamp'] = pd.to_datetime(weather_df['result_timestamp'],format="%Y-%m-%d %H:%M:%S")

weather_df

,result_timestamp,LC_HUMIDITY,LC_DWPTEMP,LC_n,LC_RAD,LC_RAININ,LC_DAILYRAIN,LC_WINDDIR,LC_WINDSPEED,LC_RAD60,LC_TEMP_QCL0,LC_TEMP_QCL1,LC_TEMP_QCL2,LC_TEMP_QCL3
972000,2022-01-01 00:10:00,91.0,11.88,38.0,0.0,0.0,0.0,-48.0,0.04,0.0,13.28,13.28,13.223,13.23639
972001,2022-01-01 00:20:00,90.0,11.72,37.0,0.0,0.0,0.0,45.0,0.02,0.0,13.28,13.28,13.223,13.16699
972002,2022-01-01 00:30:00,90.0,11.72,38.0,0.0,0.0,0.0,-52.0,0.04,0.0,13.28,13.28,13.223,13.19886
972003,2022-01-01 00:40:00,90.0,11.72,37.0,0.0,0.0,0.0,34.0,0.02,0.0,13.28,13.28,13.223,13.16699
972004,2022-01-01 00:50:00,90.0,11.72,38.0,0.0,0.0,0.0,0.0,0.00,0.0,13.28,13.28,13.223,13.09212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006843,2022-12-31 23:20:00,52.0,6.74,38.0,0.0,0.0,0.0,5.0,0.29,0.0,16.61,16.61,16.553,16.57995
1006844,2022-12-31 23:30:00,52.0,6.62,37.0,0.0,0.0,0.0,-17.0,0.15,0.0,16.51,16.51,16.453,16.44846
1006845,2022-12-31 23:40:00,52.0,6.60,38.0,0.0,0.0,0.0,-31.0,0.29,0.0,16.49,16.49,16.433,16.46641
1006846,2022-12-31 23:50:00,52.0,6.51,37.0,0.0,0.0,0.0,13.0,0.31,0.0,16.39,16.39,16.333,16.35838
1006847,2023-01-01 00:00:00,53.0,6.55,37.0,0.0,0.0,0.0,-18.0,0.45,0.0,16.26,16.26,16.203,16.12441

In [8]:
#Merge noise and weather data
final_df = pd.merge(noise_clustered_df, weather_df, on='result_timestamp', how='outer')

#Remove rows with only weather data, but no noise data
final_df = final_df[final_df.isnull()['laeq']==False]

final_df['object_id'] = final_df['object_id'].astype('int64')
final_df['hour'] = final_df['hour'].astype('int64')
final_df['month'] = final_df['month'].astype('int64')
final_df

,object_id,result_timestamp,laeq,date,time,hour,weekday,month,weekend,day_time,...,LC_RAD,LC_RAININ,LC_DAILYRAIN,LC_WINDDIR,LC_WINDSPEED,LC_RAD60,LC_TEMP_QCL0,LC_TEMP_QCL1,LC_TEMP_QCL2,LC_TEMP_QCL3
0,255439,2022-02-28 08:20:00,59.892893,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
1,255441,2022-02-28 08:20:00,54.878167,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
2,255442,2022-02-28 08:20:00,52.486000,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
3,255443,2022-02-28 08:20:00,53.030667,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
4,255444,2022-02-28 08:20:00,54.222000,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332450,255442,2022-12-31 23:50:00,57.261436,2022-12-31,23:50:00,23,Saturday,12,True,Saturday 23:50:00,...,0.0,0.0,0.0,13.0,0.31,0.0,16.39,16.39,16.333,16.358380
332451,255443,2022-12-31 23:50:00,57.698331,2022-12-31,23:50:00,23,Saturday,12,True,Saturday 23:50:00,...,0.0,0.0,0.0,13.0,0.31,0.0,16.39,16.39,16.333,16.358380
332452,255444,2022-12-31 23:50:00,52.716361,2022-12-31,23:50:00,23,Saturday,12,True,Saturday 23:50:00,...,0.0,0.0,0.0,13.0,0.31,0.0,16.39,16.39,16.333,16.358380
332453,280324,2022-12-31 23:50:00,59.575793,2022-12-31,23:50:00,23,Saturday,12,True,Saturday 23:50:00,...,0.0,0.0,0.0,13.0,0.31,0.0,16.39,16.39,16.333,16.358380
332454,303910,2022-12-31 23:50:00,59.669282,2022-12-31,23:50:00,23,Saturday,12,True,Saturday 23:50:00,...,0.0,0.0,0.0,13.0,0.31,0.0,16.39,16.39,16.333,16.358380

Write the complete dataset to a CSV file

In [9]:
final_df.to_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/final_df.csv', sep=';', index=False)

Test how fast the complete dataset loads

In [10]:
#Load CSV file
final_df = pd.read_csv('/Users/ineaertgeerts/opt/ModernDataAnalytics/final_df.csv', sep=';')
final_df.head()

,object_id,result_timestamp,laeq,date,time,hour,weekday,month,weekend,day_time,...,LC_RAD,LC_RAININ,LC_DAILYRAIN,LC_WINDDIR,LC_WINDSPEED,LC_RAD60,LC_TEMP_QCL0,LC_TEMP_QCL1,LC_TEMP_QCL2,LC_TEMP_QCL3
0,255439,2022-02-28 08:20:00,59.892893,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
1,255441,2022-02-28 08:20:00,54.878167,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
2,255442,2022-02-28 08:20:00,52.486000,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
3,255443,2022-02-28 08:20:00,53.030667,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482
4,255444,2022-02-28 08:20:00,54.222000,2022-02-28,08:20:00,8,Monday,2,False,Monday 08:20:00,...,22.0,0.0,0.0,108.0,0.06,18.0,2.07,2.07,2.013,2.045482

In [11]:
#Select data from one month (e.g. March)
March_df = final_df[final_df['month']==3]
March_df.head()

,object_id,result_timestamp,laeq,date,time,hour,weekday,month,weekend,day_time,...,LC_RAD,LC_RAININ,LC_DAILYRAIN,LC_WINDDIR,LC_WINDSPEED,LC_RAD60,LC_TEMP_QCL0,LC_TEMP_QCL1,LC_TEMP_QCL2,LC_TEMP_QCL3
365,255439,2022-03-01 00:00:00,59.346167,2022-03-01,00:00:00,0,Tuesday,3,False,Tuesday 00:00:00,...,0.0,0.0,0.0,-55.0,0.05,0.0,2.9,2.9,2.843,2.993242
366,255440,2022-03-01 00:00:00,49.755667,2022-03-01,00:00:00,0,Tuesday,3,False,Tuesday 00:00:00,...,0.0,0.0,0.0,-55.0,0.05,0.0,2.9,2.9,2.843,2.993242
367,255441,2022-03-01 00:00:00,50.022667,2022-03-01,00:00:00,0,Tuesday,3,False,Tuesday 00:00:00,...,0.0,0.0,0.0,-55.0,0.05,0.0,2.9,2.9,2.843,2.993242
368,255442,2022-03-01 00:00:00,48.204167,2022-03-01,00:00:00,0,Tuesday,3,False,Tuesday 00:00:00,...,0.0,0.0,0.0,-55.0,0.05,0.0,2.9,2.9,2.843,2.993242
369,255443,2022-03-01 00:00:00,47.371833,2022-03-01,00:00:00,0,Tuesday,3,False,Tuesday 00:00:00,...,0.0,0.0,0.0,-55.0,0.05,0.0,2.9,2.9,2.843,2.993242